/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            MSK-CMO-InnovationLab/DNAinn Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                     DNAinn config file, tailored for use on MSK's Juno HPC environment.
-------------------------------------------------------------------------------------------------------------
*/

// Global default params
params {
    // Max resource requests
    max_memory = 128.GB
    max_cpus   = 12
    max_time   = 72.h
    
    // Defaults only, can be overridden
    memory = 8.GB
    cpus   = 1
}

process {
    // Default process settings
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    // Resource management
    cpus       = { Math.min(1 * task.attempt, params.max_cpus as int) }
    memory     = { [6.GB * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
    time       = { [4.h * task.attempt, params.max_time as nextflow.util.Duration].min() }
    
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors  = '-1'
    
    // Process labels for different resource requirements
    withLabel: process_low {
        cpus   = { Math.min(2 * task.attempt, params.max_cpus as int) }
        memory = { [12.GB * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [6.h * task.attempt, params.max_time as nextflow.util.Duration].min() }
    }
    
    withLabel: process_medium {
        cpus   = { Math.min(6 * task.attempt, params.max_cpus as int) }
        memory = { [16.GB * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [8.h * task.attempt, params.max_time as nextflow.util.Duration].min() }
    }
    
    withLabel: process_high {
        cpus   = { Math.min(12 * task.attempt, params.max_cpus as int) }
        memory = { [96.GB * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [16.h * task.attempt, params.max_time as nextflow.util.Duration].min() }
    }
    
    withLabel: process_long {
        cpus   = { Math.min(1 * task.attempt, params.max_cpus as int) }
        memory = { [6.GB * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [36.h * task.attempt, params.max_time as nextflow.util.Duration].min() }
    }
}
