/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Available keys to override module options:
            ext.args   = Additional arguments appended to command in module.
            ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
            ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
            ext.prefix = File name prefix for output files.
-------------------------------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'BWAMEM2_MEM' {
        ext.args = { "-K 100000000 -Y -B 3 -R ${meta.read_group}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/dedupandrecal/bwa-mem2/${meta.id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_SORT_INDEX {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/msi/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

    withName: COLLECTHSMETRICS_ORI {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/hsmetrics/ori/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MSISENSORPRO_PRO_ORI {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/msisensorpro/ori/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_MARKDUPLICATES' {
        ext.args = '-REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/markduplicates/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MOSDEPTH {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/mosdepth/ori/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GATK4_BASERECALIBRATOR {
        ext.args   = '--lenient true'
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/baserecalibrator/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GATK4_APPLYBQSR {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/applybqsr/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/baserecalibrator/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_STATS_DR {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/stats/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MOSDEPTH_DR {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/mosdepth/fin/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COLLECTHSMETRICS_FIN {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/hsmetrics/fin/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MSISENSORPRO_PRO_FIN {
        publishDir = [
            path: { "${params.outdir}/dedupandrecal/msisensorpro/fin/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SURVIVOR_SCAN_READS {
        publishDir = [
            path: { "${params.outdir}/preprocessing/errorprofile/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_COLLATEFASTQ' {
        publishDir = [
            path: { "${params.outdir}/preprocessing/collatefastq/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> null }
        ]
    }

}
